<a href="https://colab.research.google.com/github/rajesh0305/Machine_Learning_Assignment/blob/main/Sets_in_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All"
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

# Sets

Sets are a built in data type in the python used to store collections of uniques items. They are unordered, meaning that the elements do not follow a specific order , ans they do not allow duplicate elelments,sets are useful for the membership test,eliminating duplicate entries, and performing mathematical set operations like union,intersecton, difference ,and symmetric difference .

In [2]:
#crate the sets
my_sets = {1,2,3,4,5}
print(type(my_sets))
print(my_sets)

<class 'set'>
{1, 2, 3, 4, 5}

In [3]:
my_empty_sets = set()
print(type(my_empty_sets))

<class 'set'>

In [4]:
my_sets = set([1,2,3,4,5,1,2,3])
print(type(my_sets))
print(my_sets)

<class 'set'>
{1, 2, 3, 4, 5}

In [5]:
#basic sets operation
#adding and removing the elements from the sets
my_sets.add(6)
print(my_sets)
my_sets.add(6)
print(my_sets)

#remove the elements from the sets
my_sets.remove(1)
print(my_sets)

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}
{2, 3, 4, 5, 6}

In [7]:
# my_sets.remove(10)

In [8]:
my_sets.discard(11)

In [9]:
##pop() methods
removed_elements =my_sets.pop()
print(removed_elements)
print(my_sets)

2
{3, 4, 5, 6}

In [10]:
## clear all the elements from the sets
my_sets.clear()
print(my_sets)

set()

In [11]:
## sets Membership test
my_set ={1,2,3,4,5,6,7,8}
print(3 in my_set)
print(10 in my_set)
print(4 in my_set)
print(5 in my_set)

True
False
True
True

In [12]:
#applying the mathematical operation in the sets
set1 = {1,2,3,4,5,6}
set2 ={4,5,6,7,8,9}
print(set1)
print(set2)

##Union operation
print("Union")
union_set =set1.union(set2)
print(union_set)

#intersection operation
print("Intersection")
intersection_set = set1.intersection(set2)
print(intersection_set)

#doing the intersection and storing the intersection elements into the set1
print("intersection_update")
set1.intersection_update(set2)
print(set1)

#difference operation
print("difference opreration")
diff_set = set1.difference(set2)
print(diff_set)

{1, 2, 3, 4, 5, 6}
{4, 5, 6, 7, 8, 9}
Union
{1, 2, 3, 4, 5, 6, 7, 8, 9}
Intersection
{4, 5, 6}
intersection_update
{4, 5, 6}
difference opreration
set()

In [13]:
#symmetric difference
set1 = {1,2,3,4,5,6}
set2 ={2,3,4,5,6,7}
print("symmetric difference")
print(set1.symmetric_difference(set2))

symmetric difference
{1, 7}

In [14]:
#sets Methods
set1 = {1,2,3}
set2 ={3,4,5}

## is subset & is superset
print("checking the subset:",set1.issubset(set2))
print("checking the superset:",set1.issuperset(set2))

checking the subset: False
checking the superset: False

In [15]:
list =[12,4,5,6,33,55,22,22,12,2,4,5]

#our task to remove the duplicate elements from the list
lt =set(list)
print(lt)

{33, 2, 4, 5, 6, 12, 22, 55}

In [16]:
#counting unique word in the sentence
test = "in this tutorials we are discissing about sets"
words =test.split()
print(words)

##now converting the list of words to the set to the unique words
unique_words =set(words)
print(unique_words)
print(len(unique_words))

['in', 'this', 'tutorials', 'we', 'are', 'discissing', 'about', 'sets']
{'in', 'we', 'about', 'are', 'tutorials', 'this', 'sets', 'discissing'}
8